<?xml version="1.0"?>

<launch>
		<include file="$(find utl_nav)/launch/utl_tf.launch" />
    <include file="$(find utl_nav)/launch/driver/uart.launch" />
		<!--include file="$(find utl_nav)/launch/driver/ydlidar.launch" /-->
		<include file="$(find utl_nav)/launch/driver/urg.launch" />
		<include file="$(find utl_nav)/launch/utl_key_teleop.launch" />
		<!-- ODOMETRY -->
    <!--rf2o_Laser_Odometry>
    <include file="$(find utl_nav)/launch/utl_rf2o.launch" /-->
    <!-- Robot_Localization >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
				<remap from="odometry/filtered" to="odom"/>
        <rosparam command="load" file="$(find utl_nav)/param/utl_ekf_params.yaml" />
    </node-->
</launch>
